@import url('https://fonts.googleapis.com/css?family=Bungee+Inline&display=swap');


body {
    font-family: 'Bungee Inline', cursive;
    text-align: center;
    background: url(image/image1.jpg);
    background-size: cover;
    margin: 0;
}

h1 {
    color: #fff;
}

.title {
    color: rgb(209, 160, 0);
}

#main {
    margin: 15%;
    padding: 3%;
    background-color: rgb(31, 200, 172);
}

#display-screen{
    padding: 1rem;
    margin-bottom: 2rem;
    display: inline-block;
    background-color: #000;
}

#square-placement {
    height: 150px;
    border: black 5px;
}


.squares{
    background-color: #000;
    color: #fff;
    display: inline-flex;
    width: 7rem;
    height: 7rem;
}

.squares:hover{
    background-color: rgba(206, 13, 13, 0.822);
}

.hover{
    background-color: rgb(209, 160, 0);
}

button {
    margin: auto;
    font-size: 1rem;
    background-color: #000;
    color: rgb(214, 136, 11);
    padding: 1rem;
    border-radius: 1rem;
}